{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

<hr>

Details about the quiz... TBD?

<hr>

{% if user.profile.taken_quiz %}
    <!-- user has taken quiz already -->
    {% if user.profile.mentor_type != "is_not_mentor" %}
        <!-- user-type is current mentor / can take quiz again -->
        You have already taken this quiz.<br>
        Would you like to take the test again?<br>
        <button id="btn-take-quiz" class="btn-ci" data-quiz="{{ quiz_id }}">Yes</button>
    {% else %}
        <!-- user-type is potential mentor / cannot resubmit quiz answers -->
        Thank You!<br>
        The Code Institute Mentoring team will be in contact with you soon!
    {% endif %}
{% else %}
    <!-- user has not taken quiz yet -->
    <button id="btn-take-quiz" class="btn-ci" data-quiz="{{ quiz_id }}">Take Quiz</button>
{% endif %}

<hr>

{% if user.profile.taken_quiz %}
    {% for submission in user_submissions %}
        <div class="accordion" id="accordion-{{ forloop.counter }}">
            <div class="accordion-item">
                <h2 class="accordion-header" id="accordion-header-{{ forloop.counter }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-{{ forloop.counter }}"
                        aria-expanded="false" aria-controls="accordion-collapse-{{ forloop.counter }}">
                        Quiz Attempt #{{ forloop.counter }} - {{ submission.taken }}
                    </button>
                </h2>
                <div id="accordion-collapse-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="accordion-header-{{ forloop.counter }}"
                    data-bs-parent="#accordion-{{ forloop.counter }}">
                    <div class="accordion-body">

                        <!-- start collapsible body content -->
                        {% for response in user_responses %}
                            {% if response.submission.id == submission.id %}
                                <div class="list-group">
                                    <div class="list-group-item list-group-item-action list-group-item-{% if response.is_correct %}success{% else %}danger{% endif %}">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ response.question }}</h5>
                                            <small class="text-muted">{{ response.question.subject }}</small>
                                        </div>
                                        <p class="mb-1">You've Answered: {{ response.user_answer|safe|linebreaksbr|replace:"['|"|replace:"']|"|replace:"', '|, " }}</p>
                                        <small class="text-muted">{% if response.is_correct == True %}Correct{% else %}Incorrect{% endif %}</small>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        
    {% endfor %}
{% endif %}

{% endblock %}


{% block js %}
    <!-- scripts only for the quiz-info page -->
    <script src="{% static 'js/info.js' %}"></script>
{% endblock %}
