{% extends "base.html" %}
{% load shuffle %}
{% load static %}

{% block content %}

<section id="quiz-container" class="container my-5">

    <!-- quiz start button -->
    <div class="row" id="quiz-start-row">
        <div class="col d-flex justify-content-center">
            <button id="quiz-start-btn" class="btn-ci mt-5">Start Quiz</button>
        </div>
    </div>

    <!-- quiz form -->
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <form id="quiz-form" class="hide full" method="POST" action="{% url 'submit_quiz' quiz.id %}">
                {% csrf_token %}
                <input type="hidden" id="duration" name="duration" value="0">

                <!-- cycle through all questions -->
                {% for question in questions %}
                <fieldset id="card-set-{{ forloop.counter }}{% if forloop.last %}-last{% endif %}"
                    class="card shadow {% if not forloop.first %}hide full{% endif %}">

                    <!-- display the question -->
                    <legend class="card-header bg-p-grey text-t-grey">
                        <span class="text-danger">*</span>
                        {{ question.question }}
                    </legend>

                    <!-- custom '|shuffle' tag to shuffle the various choices -->
                    <div class="card-body">
                        {% for choice in question.choices|shuffle %}
                            {% if question.type == "checkbox" %}
                                <!-- checkboxes -->
                                <div class="input-group mb-3 checkbox-validation">
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" type="checkbox" id="q{{ question.id }}-{{ forloop.counter }}" name="q{{ question.id }}" data-validator="{{ forloop.parentloop.counter }}" class="choice" value="{{ choice }}" required>
                                    </div>
                                    <label for="q{{ question.id }}-{{ forloop.counter }}" class="form-control bg-light">{{ choice }}</label>
                                </div>
                            {% elif question.type == "number" %}
                                <!-- numbers -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-s-grey"><i class="fas fa-clock fa-fw"></i></span>
                                    <input type="number" class="form-control choice" id="q{{ question.id }}-{{ forloop.counter }}" name="q{{ question.id }}" min="1" max="99" data-validator="{{ forloop.parentloop.counter }}" required>
                                </div>
                            {% elif question.type == "radio" %}
                                <!-- radio buttons -->
                                <div class="input-group mb-3">
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0 choice" type="radio" id="q{{ question.id }}-{{ forloop.counter }}" name="q{{ question.id }}" data-validator="{{ forloop.parentloop.counter }}" value="{{ choice }}" required>
                                    </div>
                                    <label for="q{{ question.id }}-{{ forloop.counter }}" class="form-control bg-light">{{ choice }}</label>
                                </div>
                            {% elif question.type == "textarea" %}
                                <!-- textareas -->
                                <div class="mb-3">
                                    <textarea class="form-control" id="q{{ question.id }}-{{ forloop.counter }}" name="q{{ question.id }}" data-validator="{{ forloop.parentloop.counter }}" rows="5" required></textarea>
                                </div>
                            {% elif question.type == "url" %}
                                <!-- urls -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-s-grey"><i class="fas fa-code fa-fw"></i></span>
                                    <input type="url" class="form-control choice" id="q{{ question.id }}-{{ forloop.counter }}" name="q{{ question.id }}" data-validator="{{ forloop.parentloop.counter }}" required>
                                </div>
                            {% else %}
                                <!-- default / text -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-s-grey"><i class="fas fa-align-left fa-fw"></i></span>
                                    <input type="text" class="form-control choice" id="q{{ question.id }}-{{ forloop.counter }}" name="q{{ question.id }}" data-validator="{{ forloop.parentloop.counter }}" required>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <!-- error handling -->
                        <span id="error-handler-{{ forloop.counter }}" class="text-danger d-flex justify-content-center"></span>
                    </div>

                    <!-- next && submit buttons -->
                    {% if not forloop.last %}
                        <!-- "next" button for each question, except the final question -->
                        <div class="card-footer bg-p-grey text-t-grey {% if not forloop.first %}hide full{% endif %}" id="card-next-btn-{{ forloop.counter }}">
                            <div class="d-flex justify-content-center">
                                <button id="next-btn-{{ forloop.counter }}" class="btn-ci">Next</button>
                            </div>
                        </div>
                    {% else %}
                        <!-- replace "next" button with the "submit" button -->
                        <div class="card-footer bg-p-grey text-t-grey hide full" id="card-next-btn-{{ forloop.counter }}">
                            <div class="d-flex justify-content-center">
                                <button type="submit" id="quiz-submit-btn" data-submit="{{ forloop.counter }}" class="btn-ci">Submit</button>
                            </div>
                        </div>
                    {% endif %}

                </fieldset>
                {% endfor %}

            </form>
        </div>
    </div>
</section>

{% endblock %}


{% block js %}
    <!-- scripts only for the quiz -->
    <script src="{% static 'js/quiz.js' %}"></script>
{% endblock %}
