{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block content %}

<section id="quiz-container" class="container my-5">

    <!-- quiz start button -->
    <div class="row" id="quiz-start-row">
        <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5 class="card-title my-4 fw-bold text-p-orange">
                        {% if quiz|safe == "is_not_mentor" %}New{% endif %}
                        Mentor Quiz
                    </h5>
                    <p class="card-text">
                        You will be presented with <strong>{{ questions|length }}</strong>
                        questions{% if quiz|safe == "is_mentor" %} at random{% endif %}.
                    </p>
                    <p>
                        Please answer the questions as completely as possible.
                    </p>
                    {% if quiz|safe == "is_not_mentor" %}
                        <p class="text-danger">
                            Please make sure to have your Django repository URL ready prior to proceeding.
                        </p>
                    {% endif %}
                    <p>
                        When you're ready, click the <strong>Start Quiz</strong> button.
                    </p>
                    <button id="quiz-start-btn" class="btn btn-ci my-4">Start Quiz</button>
                </div>
            </div>
        </div>
    </div>

    <!-- quiz form -->
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <form id="quiz-form" class="hide full" method="POST" action="{% url 'submit_quiz' quiz.id %}">
                {% csrf_token %}
                <!-- track total duration of entire quiz -->
                <input type="hidden" id="duration" name="duration" value="0">

                <!-- cycle through all questions -->
                {% for question in questions %}

                <fieldset id="card-set-{{ forloop.counter }}{% if forloop.last %}-last{% endif %}"
                    class="card shadow {% if not forloop.first %}hide full{% endif %}">

                    <!-- track duration of each individual question -->
                    <input type="hidden" id="time_taken-{{ question.id }}" name="time_taken-{{ question.id }}" value="0">

                    <!-- display the question -->
                    <legend class="card-header bg-p-grey text-t-grey">
                        <span class="text-danger">*</span>
                        {{ question.question }}
                    </legend>

                    <!-- cycle through each of the question's choices -->
                    <div class="card-body">
                        {% if quiz.name == "is_not_mentor" %}
                            <!-- do NOT shuffle the choices (primarily for mentor availability question) -->
                            {% for choice in question.choices %}
                                {% include "quizzes/partials/choices.html" %}
                            {% endfor %}
                        {% else %}
                            <!-- custom '|shuffle' tag to shuffle the various choices -->
                            {% for choice in question.choices|shuffle %}
                                {% include "quizzes/partials/choices.html" %}
                            {% endfor %}
                        {% endif %}

                        <!-- error handling -->
                        <span id="error-handler-{{ forloop.counter }}" class="text-danger d-flex justify-content-center"></span>

                        <!-- optional text, where applicable -->
                        {% if question.text %}
                            <small class="fs-6 text-center">{{ question.text|safe|linebreaksbr }}</small>
                        {% endif %}
                    </div>

                    <!-- next && submit buttons -->
                    {% if not forloop.last %}
                        <!-- "next" button for each question, except the final question -->
                        <div class="card-footer bg-p-grey text-t-grey {% if not forloop.first %}hide full{% endif %}" id="card-next-btn-{{ forloop.counter }}">
                            <div class="d-flex justify-content-center">
                                <button id="next-btn-{{ forloop.counter }}" class="btn-ci">Next</button>
                            </div>
                        </div>
                    {% else %}
                        <!-- replace "next" button with the "submit" button -->
                        <div class="card-footer bg-p-grey text-t-grey hide full" id="card-next-btn-{{ forloop.counter }}">
                            <div class="d-flex justify-content-center">
                                <button type="submit" id="quiz-submit-btn" data-submit="{{ forloop.counter }}" class="btn-ci">Submit</button>
                            </div>
                        </div>
                    {% endif %}

                </fieldset>
                {% endfor %}

            </form>
        </div>
    </div>
</section>

{% endblock %}


{% block js %}
    <!-- scripts only for the quiz -->
    <script src="{% static 'js/quiz.js' %}"></script>
{% endblock %}
