{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="quiz-container" class="container my-5">
    <div class="row">
        <div class="col text-center">
            <h2>Add New Question</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
            <!-- form to submit a new question -->
            <form method="POST" action="{% url 'add_question' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset id="card-set" class="card shadow">

                    <legend class="card-header bg-p-grey text-t-grey">
                        <span class="text-danger">*</span>
                        <small class="text-white">required</small>
                        <!-- question -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <span class="text-danger">*</span>
                                <i class="fas fa-question-circle fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.question }}
                        </div>
                        <!-- quiz type -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <span class="text-danger">*</span>
                                <i class="fas fa-user-graduate fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.quiz }}
                        </div>
                        <!-- module type -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <span class="text-danger">*</span>
                                <i class="fas fa-book fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.module }}
                        </div>
                        <!-- subject type -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <span class="text-danger">*</span>
                                <i class="fas fa-code fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.subject }}
                        </div>
                        <!-- quiz type -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <span class="text-danger">*</span>
                                <i class="fas fa-list-alt fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.type }}
                        </div>
                        <!-- optional text -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <i class="fas fa-info-circle fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.optional_text }}
                        </div>
                    </legend>

                    <!-- using Django's formset for the Question's dynamic Choices -->
                    <div class="card-body hide full" id="card-body">

                        <span class="d-none">
                            <!-- hidden, but must be on DOM for hidden formset fields to work -->
                            {{ choice_form_set.as_p }}
                        </span>

                        <!-- https://stackoverflow.com/a/25426509 -->
                        <div class="table-responsive">
                            <table class="table table-striped text-center align-middle">
                                <!-- loop the formset, each row is new instance of Choice model added to DB -->
                                {% for form in choice_form_set.forms %}
                                    {% if forloop.first %}
                                        <thead>
                                            <th class="w-75">Choices (max 10)</th>
                                            <th>Correct?</th>
                                            <th class="hide full">Delete?</th>
                                            <th>
                                                <!-- add a new instance of Choice formset model -->
                                                <span id="add_choice" class="btn btn-small btn-success lh-1">
                                                    <i class="fas fa-plus fs-6"></i>
                                                </span>
                                            </th>
                                        </thead>
                                        <tbody id="tbody">
                                    {% endif %}

                                    <!-- the formset input fields -->
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <td>
                                                {% if forloop.first %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                {% endif %}

                                                {{ field.errors.as_ul }}
                                                {% if forloop.first %}
                                                    <span class="text-danger">*</span>
                                                {% endif %}
                                                {{ field }}
                                            </td>
                                            {% if forloop.last %}
                                                <td>
                                                    <!-- delete button only if outer loop last-item, and more than one option -->
                                                    {% if forloop.parentloop.last and not forloop.parentloop.first %}
                                                        <span id="remove_choice" class="btn btn-small btn-danger lh-1">
                                                            <i class="fas fa-trash-alt fs-6"></i>
                                                        </span>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% if forloop.last %}
                                        </tbody>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>

                    <!-- submit button -->
                    <div class="card-footer bg-p-grey text-t-grey">
                        <div id="submit-btn" class="d-flex justify-content-center">
                            <button type="submit" id="question-submit-btn" class="btn-ci hide full">Add Question</button>
                            <a href="{% url 'questions' %}" class="btn btn-danger mx-3 fw-bold">
                                Cancel <i class="far fa-times-circle"></i>
                            </a>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

</section>
{% endblock %}

{% block js %}
    <!-- scripts for adding/updating questions + choices -->
    <script src="{% static 'js/question_crud_scripts.js' %}"></script>
{% endblock %}
