{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="quiz-container" class="container my-5">
    <div class="row">
        <div class="col text-center">
            <h2>Add New Question</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1">
            <!-- form to submit a new question -->
            <form method="POST" action="{% url 'add_question' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset id="card-set" class="card shadow">

                    <legend class="card-header bg-p-grey text-t-grey">
                        <span class="text-danger">*</span>
                        <small class="text-white">required</small>
                        <!-- question -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <span class="text-danger">*</span>
                                <i class="fas fa-question-circle fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.question }}
                        </div>
                        <!-- quiz type -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <span class="text-danger">*</span>
                                <i class="fas fa-user-graduate fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.quiz }}
                        </div>
                        <!-- module type -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <span class="text-danger">*</span>
                                <i class="fas fa-book fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.module }}
                        </div>
                        <!-- subject type -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <span class="text-danger">*</span>
                                <i class="fas fa-code fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.subject }}
                        </div>
                        <!-- quiz type -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <span class="text-danger">*</span>
                                <i class="fas fa-list-alt fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.type }}
                        </div>
                        <!-- optional text -->
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-s-grey">
                                <i class="fas fa-info-circle fa-fw fa-lg"></i>
                            </span>
                            {{ question_form.optional_text }}
                        </div>
                    </legend>

                    <!-- using Django's formset for the Question's dynamic Choices -->
                    <div class="card-body hide full" id="card-body">

                        <span class="d-none">
                            <!-- hidden, but must be on DOM for hidden formset fields to work -->
                            {{ choice_form_set.as_p }}
                        </span>

                        <!-- https://stackoverflow.com/a/25426509 -->
                        <div class="table-responsive">
                            <table class="table table-striped text-center align-middle">
                                <!-- loop the formset, each row is new instance of Choice model added to DB -->
                                {% for form in choice_form_set.forms %}
                                    {% if forloop.first %}
                                        <thead>
                                            <th class="w-75">Choices (max 10)</th>
                                            <th>Correct?</th>
                                            <th>
                                                <!-- add a new instance of Choice formset model -->
                                                <span id="add_choice" class="btn btn-small btn-success lh-1">
                                                    <i class="fas fa-plus fs-6"></i>
                                                </span>
                                            </th>
                                        </thead>
                                        <tbody id="tbody">
                                    {% endif %}

                                    <!-- the formset input fields -->
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <td>
                                                {% if forloop.first %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                {% endif %}

                                                {{ field.errors.as_ul }}
                                                {% if forloop.first %}
                                                    <span class="text-danger">*</span>
                                                {% endif %}
                                                {{ field }}
                                            </td>
                                            {% if forloop.last %}
                                                <td>
                                                    <!-- delete button only if outer loop last-item, and more than one option -->
                                                    <span class="btn btn-small btn-secondary lh-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Cannot Delete">
                                                        <i class="fas fa-trash-alt fs-6"></i>
                                                    </span>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% if forloop.last %}
                                        </tbody>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>

                    <!-- submit button -->
                    <div class="card-footer bg-p-grey text-t-grey">
                        <div id="submit-btn" class="d-flex justify-content-center">
                            <button type="submit" id="question-submit-btn" class="btn-ci hide full">Add Question</button>
                            <a href="{% url 'questions' %}" class="btn btn-danger mx-3 fw-bold">
                                Cancel <i class="far fa-times-circle"></i>
                            </a>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

</section>
{% endblock %}

{% block js %}
<script>
    // disable first option of each <select> element
    $("select").each(function() {
        $(this).children("option:first").prop("disabled", true);
    });

    // force-require first Choice, since this cannot be set in FormSet due to 'empty_form'
    // https://docs.djangoproject.com/en/3.2/topics/forms/formsets/#empty-form-1
    $("tbody input[type=text]").each(function() {
        $(this).prop("required", true);
    });

    // this is for new questions, so placeholder should NOT be "Original Choice"
    $("input[type='text'][id$='-choice'").each(function() {
        $(this).prop("placeholder", "New Choice");
    });

    // unhide the formset Choices once quiz-type is selected, or if editing an existing Question
    $("#id_type").on("change", function() {
        $("#card-body").removeClass("hide", "full");
    });
    if ($("#id_question").val()) {
        $("#card-body").removeClass("hide", "full");
        $("#submit-btn").removeClass("hide");
    }

    // get absolute MAX_NUM_FORMS
    let absoluteMaxFormCount = $("[name=form-MAX_NUM_FORMS]").val();

    // hide any formset checkboxes ending with "-DELETE"
    $("input[type='checkbox'][id$='-DELETE']").closest("td").addClass("hide full");

    // click event for add_choice button
    $("#add_choice").on("click", function() {
        // increment formset total count and add new instance of row
        addChoice();
        validateCorrectAnswerCheckboxes();
    });
    
    // add new row to the formset Choice model
    function addChoice() {
        // https://stackoverflow.com/a/5479472
        // increment formset total Choices for DB-submission
        let formCount = $("[name=form-TOTAL_FORMS]").val();
        let formCountNext = parseInt(formCount) + 1;
        $("[name=form-TOTAL_FORMS]").val(formCountNext);

        // add new row to table with next formset incremented number
        // cloning doesn't work when formset is in table/tr; must create manually
        newRow = `
            <tr id="tr-${formCount}">
                <td>
                    <span class="text-danger">*</span>
                    <input type="text" name="form-${formCount}-choice" maxlength="100" id="id_form-${formCount}-choice" placeholder="New Choice" required>
                </td>
                <td>
                    <input type="checkbox" name="form-${formCount}-correct_answer" id="id_form-${formCount}-correct_answer">
                </td>
                <td class="hide full">
                    <input type="checkbox" name="form-${formCount}-DELETE" id="id_form-${formCount}-DELETE">
                </td>
                <td id="td-${formCount}">
                    <span class="btn btn-small btn-danger lh-1 remove_choice">
                        <i class="fas fa-trash-alt fs-6"></i>
                    </span>
                </td>
            </tr>
        `;
        $("#tbody").append(newRow);
        // disable add_choice button if maximum formset choices reached
        let maxFormCount = $("[name=form-MAX_NUM_FORMS]").val();
        let totalRows = $("#tbody").children("tr:not(.hide)").length;
        if (totalRows >= absoluteMaxFormCount) {
            disableAddBtn();
        }
        // disable "delete" btns if only 1 choice remains
        if (totalRows <= 1) {
            $(".remove_choice").hide();
        } else {
            $(".remove_choice").show();
        }
    }

    // clicking the remove_choice button triggers a few events
    $("body").on("click", ".remove_choice", function(e) {
        removeChoice(e);
        validateCorrectAnswerCheckboxes();
    });

    // remove_choice button clicked
    function removeChoice(e) {
        let formCount = $("[name=form-TOTAL_FORMS]").val();
        let maxFormCount = $("[name=form-MAX_NUM_FORMS]").val();
        let parentTR = $(e.target).closest("tr");
        let deleteTD = $(parentTR).children("td.hide.full");
        let getChoiceID = $(parentTR).find("input[name^='form-'][name$='-id']");
        let checkPlaceholder = $(parentTR).find("input[id$='-choice']");
        let checkName = $(checkPlaceholder).prop("name");
        let checkChoiceNumber = checkName.split("-")[1];
        if ($(checkPlaceholder).prop("placeholder") == "Original Choice") {
            // original choice found - must use 'form-#-DELETE'
            // https://docs.djangoproject.com/en/3.2/topics/forms/formsets/#understanding-the-managementform
            $(deleteTD).children("input[id$='-DELETE']").prop("checked", true);
            $(parentTR).addClass("hide full");
            // increment formset total Choices for DB-submission
            $("[name=form-MAX_NUM_FORMS]").val(parseInt(maxFormCount) + 1)
        } else {
            // not from original choices - can simply just remove
            $(parentTR).remove();
            // decrement formset total Choices for DB-submission
            $("[name=form-TOTAL_FORMS]").val(parseInt(formCount) - 1);
        }
        let totalRows = $("#tbody").children("tr:not(.hide)").length;
        // re-enable "add" btn if max choices not hit
        if (totalRows < maxFormCount) {
            enableAddBtn();
        }
        // disable "delete" btns if only 1 choice remains
        if (totalRows <= 1) {
            $(".remove_choice").hide();
        } else {
            $(".remove_choice").show();
        }
    }

    // disable add_choice if greater than permitted formset Choices
    function disableAddBtn() {
        $("#add_choice").addClass("hide");
    }

    // enable add_choice if fewer than permitted formset Choices
    function enableAddBtn() {
        $("#add_choice").removeClass("hide");
    }

    // enable "Submit" button if the first formset Choice has data/value, or updating existing question
    let getFirstTR = $("#tbody").children("tr:not(.hide)").first();
    if ($(getFirstTR).next("input[id$='-choice']").val() != "") {
        $("#question-submit-btn").removeClass("hide", "full");
    }
    $("body").on("input", "input[id$='-choice']", function() {
        if ($(this).val() != "") {
            $("#question-submit-btn").removeClass("hide", "full");
        } else {
            $("#question-submit-btn").addClass("hide", "full");
        }
        validateCorrectAnswerCheckboxes();
    });

    // check if at least one correct_answer is toggled on
    $("body").on("change", "input[id$='-correct_answer'][type=checkbox]", function() {
        validateCorrectAnswerCheckboxes();
    });

    // ensure at least one checkbox is always checked
    function validateCorrectAnswerCheckboxes() {
        let validChoices = $("#tbody").children("tr:not(.hide)").children("td:not(.hide)").children("input[id$='-correct_answer'][type=checkbox]:checked");
        if (validChoices.length == 0) {
            $("#question-submit-btn").addClass("hide", "full");
        } else {
            $("#question-submit-btn").removeClass("hide", "full");
        }
    }
</script>
{% endblock %}
