{% extends "base.html" %}
{% load static %}

{% block css %}
    <!-- https://datatables.net/examples/styling/bootstrap5.html -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.css">
{% endblock %}


{% block content %}

<div class="container-lg my-5">
    <div class="row">
        <div class="col text-center">
            <h1>Manage Questions</h1>
            <!-- add a new question to the database -->
            <a href="{% url 'add_question' %}" class="btn btn-ci my-3">Add Question</a>
        </div>
    </div>

    <hr>

    <!-- displaying all existing questions from the database -->
    <div class="row">
        <div class="col-12 table-responsive">
            <table id="questions-table" class="table table-striped text-center align-middle">
                <thead class="bg-p-grey text-t-grey align-middle">
                    <tr>
                        <th scope="col">Quiz</th>
                        <th scope="col">Question</th>
                        <th scope="col">Module</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Type</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- loop through all questions -->
                    {% for question in questions|dictsort:"quiz" %}
                        <tr>
                            <td>{{ question.quiz }}</td>
                            <td class="text-start">{{ question.question }}</td>
                            <td>{{ question.module }}</td>
                            <td>{{ question.subject }}</td>
                            <td>{{ question.type }}</td>
                            <td>
                                <!-- updating each individual question/choices -->
                                <a href="{% url 'update_question' question.id %}" class="btn btn-ci">Manage</a>
                            </td>
                        </tr>
                    {% empty %}
                        <!-- only display if no questions are found -->
                        <tr>
                            <td colspan="6"><h3>No matching records found</h3></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
    <!-- import DataTables CDN for Bootstrap Tables Pagination (requires jQuery) -->
    <!-- https://datatables.net/examples/styling/bootstrap5.html -->
    <script src="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.js"></script>

    <script>
        // initialize DataTable
        let table = new DataTable("#questions-table");
    </script>
{% endblock %}
