<footer class="container-fluid">
    <div class="row py-2">
        <div class="col">
            <a href="https://www.facebook.com/Code.InstituteIRL" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/codeinstitute" target="_blank">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="https://www.linkedin.com/school/code-institute" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="mailto:mentoring@codeinstitute.net" target="_blank">
                <i class="fas fa-at"></i>
            </a>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col">
            <a href="https://codeinstitute.net" target="_blank" class="white-link">&copy; <span id="year"></span> Code Institute</a>
        </div>
    </div>
</footer>
