/* ROOT VARIABLE */
:root {
    /* P = Primary | S = Secondary | T = Tertiary */
    --p-orange: 232, 70, 16; /* #E84610 */
    --p-blue: 0, 159, 227; /* #009FE3 */
    --p-grey: 74, 74, 79; /* #4A4A4F */
    --p-navy: 68, 82, 97; /* #445261 */
    --p-red: 214, 54, 73; /* #D63649 */
    --s-grey: 230, 236, 240; /* #E6ECF0 */
    --s-yellow: 239, 185, 32; /* #EFB920 */
    --s-pink: 255, 90, 96; /* #FF5A60 */
    --s-teal: 35, 187, 187; /* #23BBBB */
    --t-grey: 224, 231, 255; /* #E0E7FF */
    --bg-grey: 245, 245, 245; /* #F5F5F5 */
    --white: 255, 255, 255; /* #FFFFFF */
    --black: 0, 0, 0; /* #000000 */
}

.text-p-orange {color: rgba(var(--p-orange), 1);}
.text-p-blue {color: rgba(var(--p-blue), 1);}
.text-p-grey {color: rgba(var(--p-grey), 1);}
.text-p-navy {color: rgba(var(--p-navy), 1);}
.text-p-red {color: rgba(var(--p-red), 1);}
.text-s-grey {color: rgba(var(--s-grey), 1);}
.text-s-yellow {color: rgba(var(--s-yellow), 1);}
.text-s-pink {color: rgba(var(--s-pink), 1);}
.text-s-teal {color: rgba(var(--s-teal), 1);}
.text-t-grey {color: rgba(var(--t-grey), 1);}
.text-bg-grey {color: rgba(var(--bg-grey), 1);}
.text-white {color: rgba(var(--white), 1);}
.text-black {color: rgba(var(--black), 1);}

.bg-p-orange {background-color: rgba(var(--p-orange), 1);}
.bg-p-blue {background-color: rgba(var(--p-blue), 1);}
.bg-p-grey {background-color: rgba(var(--p-grey), 1);}
.bg-p-navy {background-color: rgba(var(--p-navy), 1);}
.bg-p-red {background-color: rgba(var(--p-red), 1);}
.bg-s-grey {background-color: rgba(var(--s-grey), 1);}
.bg-s-yellow {background-color: rgba(var(--s-yellow), 1);}
.bg-s-pink {background-color: rgba(var(--s-pink), 1);}
.bg-s-teal {background-color: rgba(var(--s-teal), 1);}
.bg-t-grey {background-color: rgba(var(--t-grey), 1);}
.bg-white {background-color: rgba(var(--white), 1);}
.bg-bg-grey {background-color: rgba(var(--bg-grey), 1);}
.bg-black {background-color: rgba(var(--black), 1);}

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    background-color: rgba(var(--bg-grey), 1);
    color: rgba(var(--p-grey), 1);
}

a, a:hover {
    text-decoration: none;
}

/* CI BUTTON */
.btn-ci {
    background: linear-gradient(48deg, #e54725 50%, #ff3186);
    background-size: 200%;
    background-position: 5% 50%;
    color: rgba(var(--s-grey), 1);
    border: 3px solid transparent;
    transition: all .3s ease-in-out;
    border-radius: 4px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 2;
}

.btn-ci:hover {
    background-position: 95% 0;
    color: rgba(var(--white), 1);
    text-shadow: 2px 2px 2px rgba(var(--black), 0.5);
}

/* PRELOADER */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    text-align: center;
    color: rgba(var(--p-grey), 1);
    background-color: rgba(var(--bg-grey), 1);
    transition: opacity 1s ease-in-out;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FLASH MESSAGES + ALERTS */
#alerts {
    display: grid;
    position: absolute;
    top: 76px;
    width: 100%;
}

.alert {
    min-height: 76px;
    width: 100%;
    z-index: 999;
    margin-bottom: 2px;
    box-shadow: 0 2px 9px 0 rgba(var(--black), 0.2);
    transition: all 0.3s ease-in-out;
}

.alert h3 {
    margin: 0;
    padding: 0;
}

.alert-dismissible .btn-close {
    margin: 0;
    padding: 1.6rem 1rem;
}

.alert-slide {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translate3d(0, -20em, 0);
    overflow: hidden;
}

/* NAVBAR */
nav {
    font-weight: bold;
    background-color: rgba(var(--white), 1);
    box-shadow: 0 2px 9px 0 rgba(var(--black), 0.2);
}

nav .nav-item {
    margin: 0 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(var(--p-orange), 1);
}

.dropdown-menu {
    min-width: unset;
}

.dropdown-item {
    width: unset;
}

.dropdown-menu[data-bs-popper] {
    /* accounts for tiny gap on hover between link/menu */
    top: 98%;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: rgba(var(--p-orange), 1);    
    background: linear-gradient(48deg, #e54725 50%, #ff3186);
}

.ci-logo {
    display: none;
}

.navbar-light .navbar-toggler {
    color: rgba(var(--p-orange), 1);
    border-color: rgba(var(--p-orange), 1);
}

/* OVERLAY */
aside#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(3px);
    transition: all 0.2s ease-in-out;
    background-color: rgba(var(--black), 0.75);
}

aside#overlay.hide {
    opacity: 0;
    visibility: hidden;
}

/* MODALS */
.modal {
    backdrop-filter: blur(3px);
    transition: all 0.2s ease-in-out;
    background-color: rgba(var(--black), 0.25);
}

/* MAIN */
main {
    flex: 1 0 auto;
}

/* ANIMATED LINKS */
a.white-link {
    color: rgba(var(--t-grey), 1);
    position: relative;
}

a.white-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgba(var(--p-orange), 1);
    opacity: 0;
    transition: all .3s ease-in-out;
    transform: scale(0);
    transform-origin: center;
}

a.white-link:hover::after,
a.white-link:focus::after {
    opacity: 1;
    transform: scale(1.25);
    color: rgba(var(--t-grey), 1);
}

/* FORM FIELDS */
#mentor_type_group {
    margin: 0;
    padding: 0;
    width: 100%;
}

ul#id_mentor_type {
    flex: 1 1;
    list-style: none;
    margin: 0;
    margin-left: -1px;
    padding-top: 6px;
    padding-bottom: 5px;
    color: #636c72;
    /* bootstrap ::placeholder color */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

ul#id_mentor_type li {
    line-height: 2;
    margin-left: -1.25em;
}

/* HOME PAGE */
#img-home-page {
    background: url("../img/pair-programming.png") center right no-repeat;
    background-size: cover;
}

.auth-form {
    width: 95%;
    margin: 1em auto;
}

/* PROFILE PAGE */
#profile-card {
    border-radius: 8px;
}

#bg-profile {
    text-shadow: 2px 2px 2px rgba(var(--black), 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

#bg-profile i {
    font-size: 200%;
}

img.flag-icon {
    width: 25px;
    max-width: 25px;
}

/* QUIZ RESULTS & QUESTIONS TABLES */

table thead tr th:not(:last-child) {
    border-right: 1px solid rgba(var(--white), 0.5);
}

/* from imported DataTables library */
table.dataTable>thead .sorting::before,
table.dataTable>thead .sorting_asc::before,
table.dataTable>thead .sorting_desc::before,
table.dataTable>thead .sorting_asc_disabled::before,
table.dataTable>thead .sorting_desc_disabled::before {
    color: rgba(var(--p-orange), 1);
    top: 0 !important;
    right: 5px !important;
}

/* from imported DataTables library */
table.dataTable>thead .sorting::after,
table.dataTable>thead .sorting_asc::after,
table.dataTable>thead .sorting_desc::after,
table.dataTable>thead .sorting_asc_disabled::after,
table.dataTable>thead .sorting_desc_disabled::after {
    color: rgba(var(--white), 1);
    bottom: 0 !important;
    right: 5px !important;
}

/* from imported DataTables library */
th.sorting:last-child::before,
th.sorting:last-child::after {
    display: none !important;
}

/* from imported DataTables library */
th.sorting:last-child {
    pointer-events: none !important;
    cursor: default !important;
}

/* from imported DataTables library */
.page-link,
.page-link:hover,
.page-link:focus,
.page-link:active {
    font-weight: bolder;
    color: rgba(var(--p-orange), 1);
    box-shadow: unset;
}

/* from imported DataTables library */
.page-item.active .page-link {
    background-color: rgba(var(--p-orange), 1);
    border-color: rgba(var(--p-orange), 1);
}

/* from imported DataTables library */
textarea:focus,
input:focus,
button:focus,
select:focus {
    outline: none !important;
    box-shadow: unset !important;
}

/* from imported DataTables library */
table.dataTable>thead>tr>th:not(.sorting_disabled),
table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: unset !important;
}

/* QUESTIONS CRUD */
input[id^=id_form-][id$=-choice] {
    width: 95%;
}

/* FOOTER */
footer {
    text-align: center;
    flex-shrink: 0;
    color: rgba(var(--s-grey), 1);
    background-color: rgba(var(--p-grey), 1);
}

footer a {
    color: rgba(var(--s-grey), 1);
}

footer .fab,
footer .fas {
    font-size: 1.5em;
    margin: 0 20px;
    vertical-align: middle;
    color: rgba(var(--s-grey), 1);
    text-shadow: 2px 2px 2px rgba(var(--black), 0.5);
    transition: all 0.4s ease-in-out;
}

footer .fab:hover,
footer .fas:hover {
    transform: scale(1.3);
}

/* MEDIA QUERIES */

/* bootstrap breakpoint: small */
@media only screen and (min-width: 576px) {
    .ci-logo {
        display: inline-block;
        height: 50px;
        margin: 0 1em;
        padding: 0;
    }

    .auth-form {
        width: 75%;
    }
}

/* bootstrap breakpoint: medium */
@media only screen and (min-width: 768px) {
    .auth-form {
        width: 95%;
    }

    a.orange-link {
        color: rgba(var(--p-orange), 1);
        position: relative;
    }

    .orange-link::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: rgba(var(--p-orange), 1);
        opacity: 0;
        transition: all .3s ease-in-out;
        transform: scale(0);
        transform-origin: center;
    }

    .orange-link:hover::after,
    .orange-link:hover::after {
        opacity: 1;
        transform: scale(1.25);
        color: rgba(var(--t-grey), 1);
    }

    #bg-profile {
        border-top-right-radius: unset;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

/* bootstrap breakpoint: large */
@media only screen and (min-width: 992px) {
    .auth-form {
        width: 85%;
    }
}

/* bootstrap breakpoint: x-large */
@media only screen and (min-width: 1200px) {}

/* bootstrap breakpoint: xx-large */
@media only screen and (min-width: 1400px) {}

/* GLOBAL 'hide' CLASSES */
.hide {
    opacity: 0;
    visibility: hidden;
}

.hide.full {
    display: none;
}