{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="my-4 text-p-orange">{{ request.user.first_name }} {{ request.user.last_name }}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Username: <strong>{{ request.user }}</strong></p>
                <p>First Name: <strong>{{ request.user.first_name }}</strong></p>
                <p>Last Name: <strong>{{ request.user.last_name }}</strong></p>
                <p>Email: <strong>{{ request.user.email }}</strong></p>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
